@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


:root {
    --branco-primario: #FFFFFF;
    --branco-secundario: #C0C0C0;
    --cor-fundo: #040814;
    --cor-destaque: #EC2F46;
    --cor-botao: #167BF7;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-primario);
}

.principal {
    background-image: url(".././assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--cor-botao);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    color: var(--branco-primario);
    display: block;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-primario);
}

