@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


:root {
    --branco-primario: #FFFFFF;
    --branco-secundario: #C0C0C0;
    --cor-fundo: #00030C;
    --cor-destaque: #EC2F46;
    --cor-botao: #167BF7;
    --fonte-principal: 'Inter', sans-serif;
    --botao-efeito: #3C92FA;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-primario);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}


.principal {
    background-image: url(".././assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 36px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao{
    background-color: var(--cor-botao);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    color: var(--branco-primario);
    display: block;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--botao-efeito);
    color: var(--cor-fundo);
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-primario);
}

.botao_secundario:hover{
    background-color: #ffffff1c;
    color: var(--branco-primario);
}

.container__aviso {
    font-size: 12px;
    color: var(--branco-secundario);
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-primario);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--branco-secundario);
}

.botao__terciario {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;

}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-primario);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-primario);
}

.rodape {
    text-align: center;
}

.rodape__logo {
    margin-top: 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 3em;
}

.lista__link {
    margin: 0 3em;
}

.lista__link__item {
    color: var(--branco-primario);
    font-size: 16px;
    text-decoration: none;
}

.lista__link__item:hover {
    color: var(--cor-botao);
}

.rodape__texto {
    color: var(--branco-secundario);
    font-size: 1em;
    margin: 2em 0;
}
